<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Site is being worked on and can't render at this time</title>
        
    </head>
    <body>
        <h1>f off, page not working</h1>
        <p> site being updated</p>
        
        
        {{> footer}}
    </body>
    
    
    
    
    
</html>